.Home {
    /*display: flex;*/
    position: fixed;
    top: 50%;
    left: 50%;

    padding: 20px;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30%;
    /*width: 100%;*/
    /*max-width: 600px;*/

}

.ChannelNameInput {
    width: 100% !important;
    /*min-width: 300px !important;*/
    /*max-width: 600px !important;*/
    text-align: center;
}

.CreateChannelButton {
    background-color: #9f592a !important;
    color: white !important;
}

.CreateChannelButton:hover {
    background-color: #7d4620 !important;
}

.CreateChannelButton:disabled {
    background-color: grey !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #9f592a !important;
    color: #9f592a !important;
}

.MuiFormLabel-root.Mui-focused {
    color: #9f592a !important;
}


@media only screen and (max-width: 800px) {

    .Home {
        width: 80%;
    }
}


/*Photo by Hert Niks from Pexels*/
